/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : Mar 19, 2026, 2:31:12 PM
    Author     : atolbert
*/
body {
    background-image: url("back.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
    color: black;
}
h1 {
    color: black;
}
html{
    scroll-behavior: smooth;
}
#inkscape {
    scroll-margin-top: 100px;
}
#gimp {
    scroll-margin-top: 100px;
}
#tekstapstrade {
    scroll-margin-top: 100px;
}
#excel {
    scroll-margin-top: 100px;
}
#trisd {
    scroll-margin-top: 100px;
}
#video {
    scroll-margin-top: 100px;
}