/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : Mar 19, 2026, 2:31:12 PM
    Author     : atolbert
*/
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
/* 1. The "Jump Out" Path */
    background-image: url("https://as1.ftcdn.net/jpg/04/41/73/98/1000_F_441739871_ID9i5ggbqZRYvzWdLfUDi793t4P4uafD.jpg") !important;

    /* 2. Make sure the image covers the whole screen */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    /* 3. Force the body to be at least the height of the screen */
    min-height: 100vh;
    margin: 0;

    /* 4. Temporary fallback color to see if the CSS is even applying */
    background-color: gainsboro; 
}
h1 {
    color: black;
}
html{
    scroll-behavior: smooth;
}
#inkscape {
    scroll-margin-top: 100px;
}
#gimp {
    scroll-margin-top: 100px;
}
#text {
    scroll-margin-top: 100px;
}
#excel {
    scroll-margin-top: 100px;
}
#trisd {
    scroll-margin-top: 100px;
}
#video {
    scroll-margin-top: 100px;
}